{{ define "main" }}
<article class="post-single max-w-5xl mx-auto">
  {{- partial "title.html" . -}}

  <div class="post-content">
    <ul class="space-y-2">
      {{- range (.Pages.ByParam "start_date").Reverse }}
      <li>
        {{- $startDate := .Params.start_date | time.Format "2006-01" -}}
        {{- $endDate := "Present" -}}
        {{- if .Params.end_date -}}
          {{- $endDate = .Params.end_date | time.Format "2006-01" -}}
        {{- end -}}
        {{ $startDate }} - {{ $endDate }}, {{ .Params.role }}, <a href="{{ .RelPermalink }}" class="text-sapphire hover:text-sky transition-colors underline decoration-sapphire/30 hover:decoration-sky/50">{{ .Title }}</a>
      </li>
      {{- end }}
    </ul>
  </div>
</article>
{{ end }}
