{{ define "main" }}
<article class="post-single">
  <header class="post-header">
    <h1 class="post-title">{{ .Title }}</h1>
  </header>

  {{- if .Content }}
  <div class="post-content">
    {{ .Content }}
  </div>
  {{- end }}

  {{- if .Pages }}
  <div class="post-content">
    <h2>Pages in this section</h2>
    <ul>
      {{- range .Pages }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{- with .Description }}
        <span> - {{ . }}</span>
        {{- end }}
        {{- with .Date }}
        <span class="post-meta"> ({{ .Format "2006-01-02" }})</span>
        {{- end }}
      </li>
      {{- end }}
    </ul>
  </div>
  {{- end }}
</article>
{{ end }}
